body {  
  background-color: #292524;
  display: flex;
  justify-content: center;
  margin-top: 10px;  
}
.weath {
color: #fde047;
font-family: Georgia, 'Times New Roman', Times, serif;
}

input {
 height: 25px;
 border: 2px solid green;
 border-radius: 7px;
 background-color: #a3e635;
 font-weight: 700;
 cursor: pointer;
}

button {
 height: 30px;
 border: 2px solid green;
 border-radius: 8px;
 background: #6d28d9;
 color: white;
 cursor: pointer;
}

h2 {
 color: #84cc16;
 font-family: 'Montserrat', sans-serif;
 font-family: 'Raleway', sans-serif;
}

p {
 color: #facc15;
}
